.navbarInfo {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid rgb(187, 187, 187);
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
.photo {
  width: 5%;
  height: 60%;
  border-radius: 100%;
  margin-right: 0.5rem;
}
.photo img {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}
.currentChat {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 0.4rem;
}

.send_message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
}
.send_message form {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.send_message input {
  width: 100%;
  border-radius: 1rem;
  height: 60%;
  border: none;
  outline: none;
  padding: 0 0.4rem;
  background-color: rgb(226, 226, 226);
}
.send_message svg {
  color: rgb(27, 158, 245);
  cursor: pointer;
  width: 2.5rem;
}
.picker {
  position: absolute;
  bottom: 45px;
  left: 54%;
}
.submit {
  width: 7% !important;
  cursor: pointer;
}
.submit:hover {
  background: rgb(204, 203, 203);
}
