.first {
  height: 60vh;
  background-color: white;
  border-bottom: 1px solid #e6e8ea;
  box-shadow: 1px 1px 23px -5px rgba(206, 208, 210, 0.75);
}

.middle {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 70% 30%;
}

.cover {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 0 0 1rem 1rem;
  cursor: pointer;
}

.cover img {
  width: 100%;
  height: 100%;
}

.container_info {
  height: 100%;
}

.name_desc_container {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.name_desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name_desc h2 {
  font-size: 2rem;
}
.button_details {
  width: 100%;
  border: none;
  outline: none;
  background: #e4e6eb;
  padding: 0.7rem 0;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 250ms;
}
.button_details:hover {
  background: #cdced1;
}
.name_desc button {
  width: 70%;
  border: none;
  outline: none;
  background-color: white;
  text-decoration: underline;
  color: rgb(17, 133, 241);
  cursor: pointer;
}
.name {
  margin-top: 0.2rem;
}
.options_information {
  border-top: 1px solid rgb(207, 207, 207);
  height: 30%;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0;
}
.photo {
  background: white;
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  color: rgb(214, 214, 214);
  top: -9rem;
  cursor: pointer;
  /* position: relative; */
}

.photo:hover::before {
  content: 'change profile photo';
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(34, 32, 32, 0.659);
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.posts_container {
  width: 100%;
  margin: 0 auto;
  height: 700px;
}
.details_container {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 60%;
  padding: 0 2rem;
  margin: 1rem auto;
  height: 700px;
  gap: 0 1rem;
}

.details {
  width: 100%;
  background-color: white;
  height: 20%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  border-bottom: 1px solid #e6e8ea;
  box-shadow: 1px 1px 23px -5px rgba(206, 208, 210, 0.75);
  color: rgb(60, 60, 60);
}
.colum {
  height: 1400px;
}
.friends_container {
  height: 30%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 9fr;
  background-color: white;
  margin-top: 1rem;
  border-radius: 1rem;
  border-bottom: 1px solid #e6e8ea;
  padding: 1rem;
  box-shadow: 1px 1px 23px -5px rgba(206, 208, 210, 0.75);
}
.options_first {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.friends_list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3rem 0.5rem;
}

.friend_card {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background: rgba(235, 231, 231, 0.74);
  position: relative;
  margin-top: 0.5rem;
}
.friend_img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.options_first a {
  text-decoration: none;
  color: #727272;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transition: background 200ms;
}
.options_first a:hover {
  background-color: rgb(197, 197, 197);
}

.options_second {
  width: 35%;
  height: 100%;
  display: grid;
  gap: 0 0.5rem;
  grid-template-columns: 3fr 1fr 1fr;
}

.options_second button {
  background-color: red;
  border: none;
  outline: none;
  background-color: white;
  height: 100%;
  width: 100%;
  transition: background 200ms;
  cursor: pointer;
  border-radius: 1rem;
  color: grey;
}

.options_second button:hover {
  background-color: rgb(197, 197, 197);
}
.changeDescription {
  border: none;
  outline: none;
  background-color: #dfdfdf;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}
.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  border: none;
  outline: none;
  color: black;
  font-weight: 700;
}
.detail {
  display: flex;
  align-items: center;
  margin: 0.6rem 0;
}

.detail svg {
  margin-right: 0.5rem;
}
.btnChange {
  display: block;
  border: none;
  outline: none;
  padding: 0.5rem 0;
  color: rgb(60, 60, 60);
  font-weight: 700;
  cursor: pointer;
  background-color: #e4e6eb;
}
.btnChange:hover {
  background-color: #c9c9cadc;
}
.btnChange:active {
  background-color: rgb(167, 167, 167);
}

/* information user */
.info_con {
  width: 60%;
  margin: 1rem auto;
  background: white;
  border-radius: 1rem;
  height: 50vh;
  display: grid;
  grid-template-columns: 1.5fr 3fr;
}
.info_options {
  width: 100%;
  height: 100%;
  border-right: 1px solid rgb(211, 211, 211);
  padding: 0.5rem 0.7rem;
}
.info_list {
  list-style: none;
  margin: 0.7rem 0 0 0;
  padding: 0;
}
.info_list li {
  padding: 0.7rem;
  border-radius: 0.5rem;
  transition: background 200ms;
  cursor: pointer;
}
.info_list li:hover {
  background-color: #e7f3ff;
  color: rgb(17, 133, 241);
}
@media screen and (max-width: 930px) {
  .details_container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
    width: 100%;
    height: 100vh;
    gap: 1rem 0;
  }
  .colum {
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    margin-bottom: 1rem;
    gap: 1rem 0;
  }

  .details {
    height: 100%;
    /* display: none; */
    margin: 0;
  }
  .friends_container {
    height: 100%;
    margin: 0;
    /* display: none; */
  }
  .middle {
    width: 100%;
  }
  .first {
    height: 50vh;
  }
  .options_first {
    width: 80%;
  }
  .options_second {
    display: block;
    width: 20%;
  }
    .friends_list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.9fr;
    gap: 3rem 0.5rem;
  }
  .info_con{
    width: 100%
  }
}
