.post_actions {
  /* height: auto; */
  width: 100%;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  padding-bottom: 1rem;
}

.reactions_comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  padding: 0 2rem 0 0.6rem;
  transition: all 200ms;
  user-select: none;
  cursor: pointer;
  margin: 1rem 0;
}

.reactions_comments span:hover {
  text-decoration: underline;
  color: rgb(17, 120, 255);
}
.clicked {
  color: rgb(17, 120, 255);
  animation: like 500ms;
}
@keyframes like {
  0% {
    transform: scale(1);
    background-color: white;
  }
  40% {
    transform: scale(1.1);
    background-color: white;
  }
  80% {
    transform: scale(1.2);
    background-color: white;
  }
  80% {
    transform: scale(1);
    background-color: white;
  }
}
.actions {
  display: flex;
  justify-content: space-evenly;
  height: 50%;
  width: 96%;
  margin: auto;
  border-top: 1px solid rgb(201, 199, 199);
  border-bottom: 1px solid rgb(201, 199, 199);
  padding: 0.3rem 0;
  position: relative;
}

.actions button {
  width: 30%;
  padding: 0.7rem 0rem;
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  position: relative;
}

.actions button:hover {
  background-color: rgba(180, 190, 209, 0.219);
}
.commentsContainer {
  height: auto;
}
.reaction_reac_container {
  display: flex;
}

.reaction_reac_container span {
  margin-right: 0.3rem;
}
.reaction_img img {
  width: 1.3rem;
  height: 1.3rem;
}
.info_reactions {
  margin-left: 0.2rem;
  color: rgb(121, 121, 121);
}
.actions_emojis {
  width: 30%;
  height: 2rem;
  position: absolute;
  top: -33%;
  left: 6%;
  background-color: transparent;
  z-index: 1000;
  display: flex;
}
.actions_emojis img {
  cursor: pointer;
  width: 1.6rem;
  height: 1.6rem;
  transition: transform 300ms;
}
.actions_emojis img:hover {
  transform: scale(1.3);
}

/* .actions_emojis::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: -10%;
  background-color: white;
  transform: translateX(-50%) rotate(310deg);
} */
