.post_actions {
  /* height: auto; */
  width: 100%;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  padding-bottom: 1rem;
}
.share_post_container {
  width: 50%;
  height: 27%;
  background: white;
  position: absolute;
  border-radius: 1rem;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  z-index: 100000;
  padding: 1rem;
}
.share_post_container span {
  color: rgb(170, 169, 169);
  font-size: 15px;
}
.share_post_close {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background 200ms;
}
.share_post_close:hover {
  background: rgba(177, 177, 177, 0.522);
  color: black;
}
.share_post_container button {
  width: 100%;
  border: none;
  background: rgb(5, 126, 255);
  color: white;
  padding: 0.5rem 0;
  margin-top: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.share_post_input_container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.point {
  margin: 0 0.3rem;
}
.share_post_input {
  width: 100%;
  margin-top: 1rem;
  height: 4rem;
  max-height: 4rem;
  max-width: 100%;
  min-height: 4rem;
  min-width: 100%;
}
.share_post_container_capa {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.083);
  position: absolute;
  z-index: 10000;
}
.reactions_comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  padding: 0 2rem 0 0.6rem;
  transition: all 200ms;
  user-select: none;
  cursor: pointer;
  margin: 1rem 0;
   color: rgb(121, 121, 121);
}

.reactions_comments span:hover {
  text-decoration: underline;
  color: rgb(17, 120, 255);
}
.clicked {
  color: rgb(17, 120, 255);
  animation: like 500ms;
}
@keyframes like {
  0% {
    transform: scale(1);
    background-color: white;
  }
  40% {
    transform: scale(1.1);
    background-color: white;
  }
  80% {
    transform: scale(1.2);
    background-color: white;
  }
  80% {
    transform: scale(1);
    background-color: white;
  }
}
.actions {
  display: flex;
  justify-content: space-evenly;
  height: 50%;
  width: 96%;
  margin: auto;
  border-top: 1px solid rgb(201, 199, 199);
  border-bottom: 1px solid rgb(201, 199, 199);
  padding: 0.3rem 0;
  position: relative;
}

.actions button {
  width: 30%;
  padding: 0.7rem 0rem;
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  position: relative;
}

.actions button:hover {
  background-color: rgba(180, 190, 209, 0.219);
}
.commentsContainer {
  height: auto;
}
.reaction_reac_container {
  display: flex;
}

.reaction_reac_container span {
  margin-right: 0.3rem;
}
.reaction_img img {
  width: 1.3rem;
  height: 1.3rem;
}
.info_reactions {
  margin-left: 0.2rem;
  color: rgb(121, 121, 121);
}
.actions_emojis {
  width: 34%;
  height: 2rem;
  position: absolute;
  top: -33%;
  left: 6%;
  background-color: transparent;
  z-index: 1000;
}
.actions_emojis img {
  cursor: pointer;
  width:100%;
  height: 100%;
  transition: transform 200ms;
  margin: 0;
  padding: 0
}
.actions_emojis img:hover {
  transform: scale(1.3);
}

/* .actions_emojis::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: -10%;
  background-color: white;
  transform: translateX(-50%) rotate(310deg);
} */
