.msg_container {
  width: 100%;
  display: flex;
}

.audio_container {
  width: 100%;
  display: flex;
}
.msg {
  background-color: rgb(228, 230, 235);
  padding: 0.6rem;
  border-radius: 1rem 1rem 1rem 0;
}
.msg_contanier {
  width: auto;
  max-width: 50%;
  margin: 0.2rem 0;
}
.msg_date {
  color: rgb(162, 162, 162);
  font-size: 0.8rem;
}

.chat_img {
  width: 20rem;
  height: 20rem;
  max-width: 50%;
}
.audio {
  width: 30%;
  height: 2rem;
  margin: 0.1rem 0;
}
